[Desktop Entry]
Name=The Elder Scrolls Online
Comment=Play this game on Steam
Exec=/home/kevin/Documents/eso-linux-launcher/ell.sh
Icon=steam_icon_306130
Terminal=false
Type=Application
Categories=Game;
